:root {
  --button-size: 32px;
  --color: #007bc5;
}

body {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  width: 600px;
  overflow-x: hidden;
}
img {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/********/
/* Menu */
/********/
nav {
  width: calc(var(--button-size) + 10px);
  border-right: 1px solid var(--color);
}
ul {
  list-style: none;
  padding: 0;
}
li {
  position: relative;
}
ul ul {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  border: 1px solid var(--color);
}
ul ul li {
  display: table-cell;
}
li:hover > ul {
  left: 100%;
  visibility: visible;
}
nav img {
  height: var(--button-size);
  width: var(--button-size);
  padding: 5px;
}
ul > li:hover {
  background-color: var(--color);
}
ul a {
  padding: 12px 5px;
  text-decoration: none;
  display: block;
  background-color: white;
  font-size: 16px;
}
ul a:hover {
  background-color: var(--color);
  color: white;
}

/***********/
/* Content */
/***********/
#popup-content {
  flex: auto;
  margin: 0.5rem;
  overflow: hidden;
}
#popup-content:empty::after {
  content: attr(data-empty);
}
p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.1rem 0;
}
a {
  color: var(--color);
}
.delete {
  height: 16px;
  padding-right: 4px;
}

.hidden {
  display: none;
}
