p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.1rem;
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.75rem;
}
div {
  margin: 0 0.5rem 0.5rem;
}
div.btn-group {
  margin-right: 0;
}
#popup-content {
  width: 100%;
  margin-top: 0.5rem;
}
.delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.delete img {
  height: 16px;
}
.empty {
  display: none;
}
