p {
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.25rem;
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightGrey
}
#popup-content {
  min-width: 200px;
  width: 100%;
  border: 1px solid gray;
  margin: 1px 1px 10px;
  padding: 5px;
  background-color: white;
}
button {
  background-color: lightBlue;
  border: 1px outset blue;
  cursor: pointer;
  margin: 1px;
  padding: 0.5rem;
  width: calc(50% - 2px);
}
